/* Global App settings */
.nis     {margin: 8px 2px 2px 2px; background: url("../../images/background.png");}
.nistext {color: #E5E6EB;}
a        {color: #ffffff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-decoration: underline; cursor: pointer;}
a:hover  {color: #a19100; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-decoration: underline; cursor: pointer;}

/* Main Settings */
#addtoalt1 {position: relative; display: none;height: auto; margin: 6px auto; padding: 2px; text-align: center; color: #462e0a; background-color: rgba(182, 131, 38, 0.9); border: 2px solid #613f0c; border-radius: 8px; z-index: 36; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); font-family: Arial, sans-serif; transition: background-color 0.3s ease;}

/* Button Looks */
#calculator:focus {outline: none;}
#display {color: #ffffff; background-color: #383838; text-align: right;}
#status {color: #fffb0083; background: url('../images/settingscog.png') 0px 0px / cover; background-color: #F0000055; text-align: center; vertical-align: center; padding: 3px; width: 20px; height: 20px; box-shadow: inset 2px 2px 2px #464646cc; border-radius: 2px;}
#status:hover {background-position: 0px -26px;}
.buttons {background-color: #383838; margin: 0px; width: 26px; height: 26px;}
.functions {color: #fffb00; margin-right: 10px; font-size: 14px; }
.operators {color: #ff0000; font-size: 16px;}
.numbers {color: #0000ff; font-size: 20px;}

/* Context Menu */
.context-menu li:hover {background-color: #fffb0083;}

/* Table Setup */
table {margin: auto; border-collapse: collapse;}
td {padding: 2px;}
td[colspan="2"] * {width: calc(2 * 26px + 2 * 3px);}
td[colspan="6"] * {width: calc(6 * 26px + 6 * 3px + 10px);}
td[rowspan="2"] * {height: calc(2 * 26px + 2 * 3px);}